body {
    background : #222529 ;
    color : white ;
}

.jumbotron {
    background : #222529 ;
    color : white ;
}

th {
    margin: 20px;
}

#submitTrain {
    background : #222529 ;
    color : white ;
    border-radius : 10px ;
    margin: 10px ;
}